*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a{
    text-decoration: none;
}
}
// ----------------------Header----------------------//
header{
    .ht-all{
        background-color: #239698;
    }  
    .header-top{
        display: flex;
        align-items: center;
        .logo {
          width: 15%;   
            a{
                color: white;
                font-size: 35px;
             }
        }
        .location{
            font-size: 15px;
            width: 10%;
            color: white;
        }
        .search{
            width: 53%;
            background-color: white;
            border-radius: 5px;
            margin: 8px 20px 8px 20px;
            height: 4vw;
            align-items: center;
            display: flex;
            input{
                width: 70%;
                border: none;
                cursor: text;
            }
            button{
                background-color: #ffb803;
                padding: 14px 38px 15px 38px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                border: none;
                cursor: pointer;
               
            }
            i{
                color: #239698;
                padding: 15px;
                font-size: 25px;
                cursor: pointer;
            }
            
        }
        .support{
            width: 22%;
            display: flex;
            color: white;
            .support-logo {
                margin-right: 15px;
                i{
                font-size: 30px;
            }
            }
            .support-text h2{
                font-size: 20px;
            }
            .support-text h4{
                font-size: 15px;
            }

        }
        
        
    }
//     .header-bottom{
//         padding: 20px 0px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//             a{
//             color: black;
//             font-size: 15px;
//             transition: .3s;
//         }
//         nav{
//             display: flex;
//         }
//         nav a:hover{
//             color: #239698;
//             i{
//                 color: #239698;
//             }
//         }
//         nav i{
//             color: black;
//             margin:0px 20px 0px 5px;
//         }
        
//         .right-side {   
//         display: flex;
//         align-items: center;    
//         i{
//             padding: 10px;
//             font-size: 17px;
//             border: 1px solid #dee2e6;
//             border-radius: 50%;
//             margin-right: 15px;
//             cursor: pointer;
   
//         }
//         .heart-drop{
//             position: absolute;
//             // display: none !important;
//             border: 1px solid #f0f3f5;
//             border-radius: 10px;
//             padding: 30px 10px 0 10px;
//             top: 150px;
//             width: 320px;
//             height: 240px;
//             img{
//                width: 90px;
//                height: 80px;
              
//             }
//             .heart-top{
//                 display: flex;
//                 .dropdownheadcontent{
//                     display: inline;
//                     height: 80px;
//                     h5{
//                         margin-top: 10px;
//                     }
                    
//                 }
            
            
//         }
//         button{
//             color:#239698;
//             background-color: #e3ecec;
//             border-radius: 7px;
//             border: none;
//             padding: 10px 15px 10px 10px;
//             cursor: pointer;
//             i{
//                 border: none;
//                 font-size: 20px;
//             }
//         }
//     }
//     }
//     .home{
//         position: relative;
//         .home-drop{
//             display: none !important;
//             position: absolute;
//             border: 1px solid #f0f3f5;
//             display: flex;
//             width: 700px;
//             justify-content: space-around;
//             cursor: pointer;
//             .kart{
//                 text-align: center;
//                 padding:15px 10px 0px 10px;
//                    img{
//                     width: 100%; 
//                    }
//                    p{
//                     font-size: 15px;
//                     margin: 10px 0px;
//                    }
//             }
//         }
//         &:hover{
//             .home-drop{
//                 display: flex !important;
//             }
//         }
//     }
//     .shop{
//         position: relative;
//         .shop-drop{
//             position: absolute;
//             display: none !important;
//             border-radius: 10px;
//             top: 25px;
//             left: -10px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//             }
            
//         }
//         &:hover{
//             .shop-drop{
//                 display: block !important;
//             }
//         }
//     }
//     .product{
//         position: relative;
//         .product-drop{
//             position: absolute;
//             display: none !important;
//             border-radius: 10px;
//             top: 25px;
//             left: -10px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//                 position: relative;
//                 i{
//                     position: absolute;
//                     right: -15px;
//                     top: 3px;
//                 }
//             }
//             &:hover{
//                 .product-drop2{
//                     display: block !important;
//                 }
//             }
            
//         }
//         &:hover{
//             .product-drop{
//                 display: block !important;
//             }
//         }
//         .product-drop2{
//             position: absolute;
//             display: none ;
//             border-radius: 10px;
//             top: 40px;
//             left: 175px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//         }
       
//     }
//     }
//     .blog{
//         position: relative;
//         .blog-drop{
//             position: absolute;
//             display: none !important;
//             border-radius: 10px;
//             top: 25px;
//             left: -10px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//             }
            
//         }
//         &:hover{
//             .blog-drop{
//                 display: block !important;
//             }
//         }
//     }
//     .pages{
//         position: relative;
//         .pages-drop{
//             position: absolute;
//             display: none !important;
//             border-radius: 10px;
//             top: 25px;
//             left: -10px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//                 position: relative;
//                 i{
//                     position: absolute;
//                     right: -15px;
//                     top: 3px;
//                 }
//             }
//             &:hover{
//                 .pages-drop2{
//                     display: block !important;
//                 }
//             }
            
//         }
//         &:hover{
//             .pages-drop{
//                 display: block !important;
//             }
//         }
//         .pages-drop2{
//             position: absolute;
//             display: none ;
//             border-radius: 10px;
//             top: 40px;
//             left: 175px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//         }
//     }
//     .pages-drop3{
//         position: absolute;
//         display: none ;
//         border-radius: 10px;
//         top: 40px;
//         left: 180px;
//         border: 1px solid #dee2e6;
//         width: 14vw;
//         padding: 8px 15px;
//         cursor: pointer;
//         a{
//             margin-bottom: 5px;
//             display: flex;
//             flex-direction: column;
//             font-size: 13px;
//     }
//     }
//     }
//     .seller{
//         position: relative;
//         .seller-drop{
//             position: absolute;
//             display: none !important;
//             border-radius: 10px;
//             top: 25px;
//             left: -10px;
//             border: 1px solid #dee2e6;
//             width: 14vw;
//             padding: 8px 15px;
//             cursor: pointer;
//             a{
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 13px;
//             }
            
//         }
//         &:hover{
//             .seller-drop{
//                 display: block !important;
//             }
//         }
//     }
// }

}
//------------------Premium------------------------
#Premium{
    .premium-part{
        position: relative;
        margin-bottom: 40px;
        img{
            
            width: 100%;
            height: 500px;
        }
        .premium-content{
            position: absolute;
            top: 50%;
            translate: 0% -50%;
         h6{
            color: #239698;
            font-size: 25px;
            font-weight: 300;
         }
         h1{
            font-weight: 600;
            font-size: 50px;
         }
         h2{
            font-size: 30px;
            font-weight: 500;
         }
         h5{
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
         }
         button{
            background-color: #239698;
            color: white;
            padding: 8px 20px;
            border: none;
            border-radius: 5px;
            font-weight: 700;
         }
        }
    }
}
//------------------End---------------------------
//---------------Premium-Bottom-------------------
#Premium-bottom{
   
    .divs{
        position: relative;
        margin-right: 20px;
        border-radius: 20px;
        img{
            width: 100%;
            border-radius: 20px;
        }
        .divs-content{
            position: absolute;
            top: 55%;
            left: 10px;
            translate: 0% -50%;
            padding: 0px 50px 0px 10px;
            h5{
                font-size: 16px;
                font-weight: 200;
            }
            h4{
                font-size: 23px;
                font-weight: 700;
            }
            button{
                background: transparent;
                color: #239698;
                font-weight: 700;
                padding: 5px;
                border: none;
                font-size: 15px;
            }
        }
    }
}
//--------------------end----------------------
//--------------------catagory-----------------
#Catagory{
   
    .catagory-title{
        display: flex;
        align-items: center;
        .catagory-left{
            h2{
                margin: 30px 0px;
                font-size: 27px;
                font-weight: 700;
            }
        }
        .catagory-right{
            display: flex;
            justify-content:flex-end;
            
            i{
                box-shadow: 0px 0px 3px rgb(97, 94, 94);;
                border: none;
                font-size: 25px;
                padding: 7px;
                margin-right: 20px;
                border-radius: 10px;
                color: #239698;
            }
        }
    }
    .catagory-cards{
        position: relative;
        border-radius: 20px;
        background-color: rgb(247, 243, 243);
        cursor: pointer;
        margin-right: 10px;
        .catagory-btn{
            display: flex;
            justify-content: center;
            display: none !important;
            position: absolute;
            animation: moveUp 0.4s ease-in-out;
            button{
                background-color: #239698;
                color: white;
                font-weight: 700;
                padding: 7px 10px;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                bottom: 0px;
            }
        }
        img{
            width: 100%;
           padding: 90px 30px 20px 30px;
        }
        .ccards-content{
            position: absolute;
            top: 50px;
            left: 15px;
            translate: 0% -50%;
          
            h4{
                font-size: 17px;
                margin-bottom: 3px;
                
            }
            h6{
             
                font-size: 15px;
                color: rgb(64, 63, 63);
            }
        }
        &::after{
            content: ' ';
            background-color: #239698;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            border-radius: 25px;
            transition: 0.5s;
        }
        &:hover{
            .ccards-content h4{
                color: #239698;
            }
            &::after{
                opacity: 0.2;
            }
            img{
                transform: scale(1.1);
                transition: 0.6s;
            }
            .catagory-btn{
                display: block !important;
                bottom: 6%;
                left: 20%;
                z-index: 100;
                }
                @keyframes moveUp {
                    0% {
                      transform: translateY(15px);
                     
                    }
                    100% {
                      transform: translateY(0);
                    }
                  }
        }
    }
}
//-----------------------End---------------------------
//------------------fruit------------------------------
#Fruit{
    .fruit-title{
        display: flex;
        align-items: center;
        .fruit-left{
            h2{
                margin: 30px 0px;
                font-size: 27px;
                font-weight: 700;
            }
        }
        .fruit-right{
            display: flex;
            justify-content:flex-end;
            
            i{
                box-shadow: 0px 0px 3px rgb(97, 94, 94);;
                border: none;
                font-size: 25px;
                padding: 7px;
                margin-right: 20px;
                border-radius: 10px;
                color: #239698;
            }
        }
    }
    .fruit-cards{
            margin-right: 15px;
            border: 1px solid rgb(236, 233, 233);
            border-radius: 10px;
            padding: 0px 10px 10px 10px;
            position: relative;
        img{
            width: 100%;
            height: 175px;
            padding: 40px 30px 20px 30px;
        }
        .fruit-icons{
            left: 20%;
            display: none !important;
            position: absolute;
            animation: moveUp 0.4s ease-in-out;
            i{
               margin-right: 5px;
               background-color: #d6e3e3;
               font-size: 16px;
               color: black;
               border: 1px solid #239698;
               padding: 10px;
               border-radius: 50%;
            }
        }
      .fruit-content{
                display: flex;
                justify-content: space-around;
        .fcontent-left{
            
            i{
                font-size: 12px;
                color: #ffb803;
            }
            h3{
                font-size: 16px;
            
            }
            span{
                color: #239698;
                font-weight: 700;
                font-size: 15px;
            }
            #deleted{
               color: black;
               text-decoration: line-through;
               font-weight: 400;
            }
        }
        .fcontent-right{
            
            display: flex;
            align-items: flex-end;
            padding-left: 3px;
            button{
                padding: 5px 10px;
                color: white;
                background-color: #239698;
                border: none;
                border-radius: 5px;
                font-size: 20px;
            }
        }
      }
      &:hover{
        .fruit-content h3{
            color: #239698;
        }
        img{
            transform: scale(1.1);
            transition: 0.6s;
        }
        .fruit-icons{
            display: block !important;
            top: 35%;
            left: 17%;
            z-index: 100;
            }
            @keyframes moveUp {
                0% {
                  transform: translateY(20px);
                 
                }
                100% {
                  transform: translateY(0);
                }
              }
    }
    }
}
//-------------------end--------------------------------