* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

header .ht-all {
  background-color: #239698;
}
header .header-top {
  display: flex;
  align-items: center;
}
header .header-top .logo {
  width: 15%;
}
header .header-top .logo a {
  color: white;
  font-size: 35px;
}
header .header-top .location {
  font-size: 15px;
  width: 10%;
  color: white;
}
header .header-top .search {
  width: 53%;
  background-color: white;
  border-radius: 5px;
  margin: 8px 20px 8px 20px;
  height: 4vw;
  align-items: center;
  display: flex;
}
header .header-top .search input {
  width: 70%;
  border: none;
  cursor: text;
}
header .header-top .search button {
  background-color: #ffb803;
  padding: 14px 38px 15px 38px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  cursor: pointer;
}
header .header-top .search i {
  color: #239698;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}
header .header-top .support {
  width: 22%;
  display: flex;
  color: white;
}
header .header-top .support .support-logo {
  margin-right: 15px;
}
header .header-top .support .support-logo i {
  font-size: 30px;
}
header .header-top .support .support-text h2 {
  font-size: 20px;
}
header .header-top .support .support-text h4 {
  font-size: 15px;
}

#Premium .premium-part {
  position: relative;
  margin-bottom: 40px;
}
#Premium .premium-part img {
  width: 100%;
  height: 500px;
}
#Premium .premium-part .premium-content {
  position: absolute;
  top: 50%;
  translate: 0% -50%;
}
#Premium .premium-part .premium-content h6 {
  color: #239698;
  font-size: 25px;
  font-weight: 300;
}
#Premium .premium-part .premium-content h1 {
  font-weight: 600;
  font-size: 50px;
}
#Premium .premium-part .premium-content h2 {
  font-size: 30px;
  font-weight: 500;
}
#Premium .premium-part .premium-content h5 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
#Premium .premium-part .premium-content button {
  background-color: #239698;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

#Premium-bottom .divs {
  position: relative;
  margin-right: 20px;
  border-radius: 20px;
}
#Premium-bottom .divs img {
  width: 100%;
  border-radius: 20px;
}
#Premium-bottom .divs .divs-content {
  position: absolute;
  top: 55%;
  left: 10px;
  translate: 0% -50%;
  padding: 0px 50px 0px 10px;
}
#Premium-bottom .divs .divs-content h5 {
  font-size: 16px;
  font-weight: 200;
}
#Premium-bottom .divs .divs-content h4 {
  font-size: 23px;
  font-weight: 700;
}
#Premium-bottom .divs .divs-content button {
  background: transparent;
  color: #239698;
  font-weight: 700;
  padding: 5px;
  border: none;
  font-size: 15px;
}

#Catagory .catagory-title {
  display: flex;
  align-items: center;
}
#Catagory .catagory-title .catagory-left h2 {
  margin: 30px 0px;
  font-size: 27px;
  font-weight: 700;
}
#Catagory .catagory-title .catagory-right {
  display: flex;
  justify-content: flex-end;
}
#Catagory .catagory-title .catagory-right i {
  box-shadow: 0px 0px 3px rgb(97, 94, 94);
  border: none;
  font-size: 25px;
  padding: 7px;
  margin-right: 20px;
  border-radius: 10px;
  color: #239698;
}
#Catagory .catagory-cards {
  position: relative;
  border-radius: 20px;
  background-color: rgb(247, 243, 243);
  cursor: pointer;
  margin-right: 10px;
}
#Catagory .catagory-cards .catagory-btn {
  display: flex;
  justify-content: center;
  display: none !important;
  position: absolute;
  animation: moveUp 0.4s ease-in-out;
}
#Catagory .catagory-cards .catagory-btn button {
  background-color: #239698;
  color: white;
  font-weight: 700;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  bottom: 0px;
}
#Catagory .catagory-cards img {
  width: 100%;
  padding: 90px 30px 20px 30px;
}
#Catagory .catagory-cards .ccards-content {
  position: absolute;
  top: 50px;
  left: 15px;
  translate: 0% -50%;
}
#Catagory .catagory-cards .ccards-content h4 {
  font-size: 17px;
  margin-bottom: 3px;
}
#Catagory .catagory-cards .ccards-content h6 {
  font-size: 15px;
  color: rgb(64, 63, 63);
}
#Catagory .catagory-cards::after {
  content: " ";
  background-color: #239698;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  border-radius: 25px;
  transition: 0.5s;
}
#Catagory .catagory-cards:hover .ccards-content h4 {
  color: #239698;
}
#Catagory .catagory-cards:hover::after {
  opacity: 0.2;
}
#Catagory .catagory-cards:hover img {
  transform: scale(1.1);
  transition: 0.6s;
}
#Catagory .catagory-cards:hover .catagory-btn {
  display: block !important;
  bottom: 6%;
  left: 20%;
  z-index: 100;
}
@keyframes moveUp {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

#Fruit .fruit-title {
  display: flex;
  align-items: center;
}
#Fruit .fruit-title .fruit-left h2 {
  margin: 30px 0px;
  font-size: 27px;
  font-weight: 700;
}
#Fruit .fruit-title .fruit-right {
  display: flex;
  justify-content: flex-end;
}
#Fruit .fruit-title .fruit-right i {
  box-shadow: 0px 0px 3px rgb(97, 94, 94);
  border: none;
  font-size: 25px;
  padding: 7px;
  margin-right: 20px;
  border-radius: 10px;
  color: #239698;
}
#Fruit .fruit-cards {
  margin-right: 15px;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  position: relative;
}
#Fruit .fruit-cards img {
  width: 100%;
  height: 175px;
  padding: 40px 30px 20px 30px;
}
#Fruit .fruit-cards .fruit-icons {
  left: 20%;
  display: none !important;
  position: absolute;
  animation: moveUp 0.4s ease-in-out;
}
#Fruit .fruit-cards .fruit-icons i {
  margin-right: 5px;
  background-color: #d6e3e3;
  font-size: 16px;
  color: black;
  border: 1px solid #239698;
  padding: 10px;
  border-radius: 50%;
}
#Fruit .fruit-cards .fruit-content {
  display: flex;
  justify-content: space-around;
}
#Fruit .fruit-cards .fruit-content .fcontent-left i {
  font-size: 12px;
  color: #ffb803;
}
#Fruit .fruit-cards .fruit-content .fcontent-left h3 {
  font-size: 16px;
}
#Fruit .fruit-cards .fruit-content .fcontent-left span {
  color: #239698;
  font-weight: 700;
  font-size: 15px;
}
#Fruit .fruit-cards .fruit-content .fcontent-left #deleted {
  color: black;
  text-decoration: line-through;
  font-weight: 400;
}
#Fruit .fruit-cards .fruit-content .fcontent-right {
  display: flex;
  align-items: flex-end;
  padding-left: 3px;
}
#Fruit .fruit-cards .fruit-content .fcontent-right button {
  padding: 5px 10px;
  color: white;
  background-color: #239698;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
#Fruit .fruit-cards:hover .fruit-content h3 {
  color: #239698;
}
#Fruit .fruit-cards:hover img {
  transform: scale(1.1);
  transition: 0.6s;
}
#Fruit .fruit-cards:hover .fruit-icons {
  display: block !important;
  top: 35%;
  left: 17%;
  z-index: 100;
}
@keyframes moveUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */