*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.modal{
    .modal-dialog{
    .modal-content{
        display: flex ;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 0.3rem;
        outline: 0;
        .modal-header{
            
            display: flex;
            padding: calc(13px + (30 - 13) * ((100vw - 320px) / (1920 - 320)));
            padding-bottom: 20px;
    .modal-title{
        font-weight: 600;
        font-size: 20px;
        width: 95% !important;
        margin-top: -4px;
    }
        }
        .modal-body{
            padding: calc(13px + (30 - 13) * ((100vw - 320px) / (1920 - 320))) calc(13px + (30 - 13) * ((100vw - 320px) / (1920 - 320)));
            .location-list{
                .search-input{
                    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
                }
            .disable-box{
                display: flex;
    align-items: center;

    padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 1px solid #ececec;
    margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
    h6{
      padding-left: 30px;
    }
            }
            .custom-height {
                max-height: 190px;
                overflow-y: auto;
                height: 100%;
                li{
                    display: block;

                    font-size: 14px;
                    a{
                        color: black;
                        display: flex;
                        justify-content: space-between  
                    }
                }
            }
        }
    }}
 
}
}

body{
    overflow-x: hidden;
}
.alertbox {
    display: inline-block;
    padding: 5px 15px;
    position: absolute;
    bottom: 20px;
    right: -35%;
    transition: .7s;
}
#Cart{
    background-color: #f8f9fa;
    .carttop{
        display: flex;
        align-items: center;
        padding: 27px 0px;
        .cleft{
            h2{
                font-size: 20px;
                font-weight: 700;
            }
        }
        .cright{
            color:#222;
            display: flex;
            justify-content:flex-end;
            font-size: 18px;
            align-items: center;
            i{
                margin-right: 10px;
            }
            span{
                font-weight: 600;
            }
        }
    }
}
table {
    img{
        width: 100%;
    }
    tr{
        vertical-align: middle;
        text-align: center  ;
    }
    input{
        border: 1px solid grey;
        width: 20%;
        text-align: center;
    }
}   
#Setting{
    background-color: #0e947a;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom:20px;
    z-index: 100;
    right: 20px;
}
#Up{
    background-color: #0e947a;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom:60px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transition: 0.7s;
}
// #Catagorymain{
//     .catagorymain{
//         .catagory-left{
//             .btn2{
//                button{
//                 .catagory-active{
//                     text-align: start;
//                     width: 90%;
//                     color: #fff;
//                     background:#0e947a;
//                     font-size: 18px;
//                     font-weight: 600;
//                     position: relative;
//                     overflow: hidden;
//                     border: none;
//                     border-radius: 6px;
//                     padding: 15px 0px 15px 15px;
//                 }
//                }
//             }
//         }
//     }
// }
.catagory-active{
    text-align: start;
    width: 90%;
    color: #fff !important;
    background:#0e947a
    !important;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 6px;
    padding: 15px 0px 15px 15px;
}
#Aboutbottom{
    .aboutbottom{
        .profil-bottom{
                .btn3{
                    button{
                    text-align: start;
                    width: 100%;
                    color: black;
                    background-color: #f7f6f3;
                    font-size: 15px;
                    font-weight: 400;
                    position: relative;
                    overflow: hidden;
                    border: none;
                    border-radius: 6px;
                    padding: 10px 0px 10px 15px;
                    i{
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    }
                }  
        }
    }
}
.dashboard-active{
    text-align: start;
    width: 90%;
    color: #fff !important;
    background:#0e947a !important;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 6px;
    padding: 15px 0px 15px 15px;
}
header{
    .hb-all{
.header-bottom{
    margin-bottom: 50px;
    nav{
        .headerfunctions{
           .cartgo{
            i{
                color: #fff;
                font-size: 20px;
                position: relative;
                span{
                    position: absolute;
                    top: -14px;
                    right: -14px;
                    font-size: 12px;
                    font-weight: bold;
                    background-color: #fff;
                    color: #ca1016;
                    padding: 2px 4px;
                    border-radius: 100%;
                }
           }
        }
    }
    }
}
}
    }

#Footertopcatagory{


.footertopp{
    padding: 30px 0px 10px 0px;
    margin-top: 40px;
.ffirst{
    h5{
        font-size: 15px;
        i{
            margin-right: 10px;
        }
    }

}
.fsecond{
    h5{
        font-size: 15px;
        i{
            margin-right: 10px;
        }
    }

}
.fthird{
    h5{
        font-size: 15px;
        i{
            margin-right: 10px;
        }
    }

}
.ffourth{
    h5{
        font-size: 15px;
        i{
            margin-right: 10px;
        }
    }

}
}
}
#Home{
    background-color: black;
    .main-footer{
        ul li{
            margin-left: -23px;
        }
        .first{
            i{
                color: white;
                padding: 5px;
                border-radius: 50%;
                background-color: #222;
                border: 1px solid rgb(57, 55, 55);
            }
            a{
                font-size: 30px;
                 color: white;
            }
            p{
                color: #bfbfbf;
               
                margin-top: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
    .second{
        .footer-title{
             h4 {
                color: white !important;
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .third{
        .footer-title{
             h4 {
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .fourth{
        .footer-title{
             h4 {
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .fifth{
        .footer-title{
             h4 {
            font-size: 20px;
            font-weight: 600;
        }}
      }
    }
footer{
    background-color: rgba(191, 191, 191, 0.2);
    .second-footer{
        ul li{
            margin-left: -23px;
            a{
                color: black !important;
            }
        }
        .first{
            i{
                color: black !important;
                padding: 5px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid rgb(57, 55, 55);
            }
            a{
                font-size: 30px;
                 color: black;
            }
            p{
                color: black;
               
                margin-top: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
    .second{
        .footer-title{
             h4 {
                color: black !important;
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .third{
        .footer-title{
             h4 {
                color: black;
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .fourth{
        .footer-title{
             h4 {
                color: black;
            font-size: 20px;
            font-weight: 600;
        }}
      }
      .fifth{
        .footer-title{
             h4 {
                color: black;
            font-size: 20px;
            font-weight: 600;
        }}
      }
}
header{
    .ht-all{
        position: fixed;
    /* top: 0px; */
    width: 100%;
    z-index: 1
    }
    .hb-all{
        position: relative;
        top: 53px;
    }
}
#Premium{
    margin-top: 70px;
}
@media (max-width:576px){
    header{
    .ht-all{
        position: static;
        .header-top{
            .location{
                display: none;
            }

        }
    }
}
}
